/* ✅ FLEX CONTAINER */

.father {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.box {
  width: 200px;
  height: 200px;
  background-color: tomato;
  color: white;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  flex-shrink: 3; 
  /* 
    💡 
    higher number of flex-shrink get 
    shrink compress item first.

    HIGHER NUMBER = FAST SHRINK!!!❗️
  */
  background-color: blue;
}

.box:nth-child(2){
  background-color: orange;
  flex-grow: 2;

  /* 💡 flex-shrink:0 does not compress the item */
  flex-shrink: 0;

}

.box:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  flex-shrink: 1;
}