/* AFTER FLEX BOX ✅ */

/* BENEFIT not much code to make it responsive */
/* super responsive */

body{
  display: flex;
  justify-content: space-between;
}

.box {
  width: 200px;
  height: 200px;
  background-color: tomato;
}