/* ✅ FLEX CONTAINER */

.father {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  /* flex-direction: row; - default */
  height: 100vh;
  /* align-items: stretch; */
  gap: 10px;
}
 
.box {
  width: 200px;
  height: 200px;
  background-color: tomato;
  color: white;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}